.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.debugger{
  position: absolute;
  display: inline-block;
  overflow: scroll;
  z-index: 999;
}

.debugger .large-size{
  background-color: red;
  width: 30vw;
  height: 40vh;
}

/*
.debugger .left-col{
  display: inline-block;
  position: relative;
  left: 1vw;
  height: 8vh;
  width: 10vw;
}

.debugger .right-col{
  display: inline-block;
  position: relative;
  left: 11vw;
  height: 8vh;
  width: 15vw;
}

.large-top-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  align-content: center;
}

.large-search-select{
  position: absolute;
  top: 5vh;
}
*/