.App {
  text-align: center;
}

.shrunk{
  width: 2vw;
  height: 2vh;
}
.css-debugger{
  position: absolute;
  display: inline-block;
  z-index: 999;
}

.css-debugger .large-size{
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 5%;
  border:none;
  width: 35vw;
  height: 45vh;
}

.larger-size:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.search-results{
  list-style-type: none;
}

